.navbar{
    background-color: rgb(189, 189, 228);
}
.navbar-nav{
  width: 100%;
  display: flex;
  justify-content: center;
}
/* .center{
    border: 2px solid black;
    display: flex;
    justify-content: center;
} */
.accordion{
    width: 50%;
}